<footer class="footer">
    <p class="footer__title">Norbert Onyango</p>
    <div class="footer__social">
        <a href="https://twitter.com/norbert490" class="footer__icon"><i class='bx bxl-twitter'></i></a>
        <a href="https://www.linkedin.com/in/norbert-oduor-b76195110/" class="footer__icon"><i class='bx bxl-linkedin'></i></a>
        <a href="https://github.com/yourusername" class="footer__icon"><i class='bx bxl-github'></i></a>
    </div>
    <p class="footer__copy">© <span id="year"></span> Norbert Onyango. All rights reserved</p>
</footer>
